.player {
  background: black;
}
.player .cover {
  width: 100%;
  height: 220px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 3s ease;
}
.player .buttons {
  text-align: center;
  box-sizing: border-box;
  color: white;
  font-size: 250%;
  padding: 0 0 10px 0;
  height: 64px;
  position: relative;
  top: calc(100% - 64px - 48px);
  background: linear-gradient(
    180deg,
    rgba(136, 136, 136, 0.6682242990654206) 0%,
    rgba(99, 99, 99, 0.8271028037383178) 17%,
    rgba(51, 51, 51, 1) 100%
  );
}
.player .buttons i {
  cursor: pointer;
}
.progress {
  height: 5px;
  margin-bottom: 10px;
  background-color: green;
  cursor: pointer;
}
.progressBar {
  background-color: greenyellow;
  height: 100%;
  width: 1px;
  transition: width 0.5s;
}
.buttonBar {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}
.buttonBar > span {
  font-size: 40%;
  padding-top: 7pt;
}

.player .songinfo {
  position: relative;
  top: calc(100% - 64px - 48px);
  height: 48px;
}
.songinfo span.title {
  display: block;
  font-size: 125%;
  font-weight: 400;
}
.songinfo span.artist {
  width: 100%;
  color: #eee;
}
.songinfo span {
  text-shadow: 1px 1px #333;
  white-space: nowrap;
  overflow: hidden;
  transition: overflow 0.2s;
}
.songinfo:hover span {
  overflow: visible;
}
